* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  margin-top: 10%;
  text-align: center;
}

.hidden {
  display: none;
}

h1 {
  margin-bottom: 1em;
}

.riddles__container {
  display: flex;
  justify-content: center;
}